@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/list.css");
@import url("components/profile-header.css");
@import url("components/tabs.css");
body {
  text-align: center;
  background: linear-gradient(to top, #aeaeae , rgba(0,0,0,0.4));
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 720px;
  background-color: white;
  padding: 5px 0px 5px 0px;
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4)
}

.card {
  display: flex;
  padding: 10px;

}
.card:hover {
  transition: all 0.5s ease;
  /*transform: scale(1.2);*/
  margin-left: 20px;

}
.container {
  margin-left: 300px;
  width: 720px;
  margin: 0 auto;
}

#header {
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  border-radius: 3px;
  padding: 10px;
  background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%), url("images/coffee.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Lilita One', cursive;
  font-weight: 300;
  font-size: 40px;
  line-height: 10px;
  color: rgb(30,30,30);
}

h2 {
  font-weight: 200;
  color: rgb(60,60,60)
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: rgb(150,0,0);
}

a {
  color: rgb(40,40,40);
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease;
  color: #676082;
}

ul {
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  padding-left: 0px;
  font-size: 40px;
}
.card_images {
  height: 100px;
  margin-left: -20px;
  -webkit-mask-image:-webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.card:hover .card_images {
  transition: all 0.1s ease;
  -webkit-mask-image:-webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,1)));
}

#profile {
  border-radius: 50%;
  height: 10rem;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

#profile:hover {
  transition: all 0.5s ease;
  transform: scale(1.2);
  box-shadow: 15px 10px 3px rgba(0,0,0,0.5);
}
#sidebar {
  background-color: rgba(0,0,0,0);
  position: fixed;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0;
}

#sidebar > ul {
  padding: 0;
}
.no_padding > li {
  padding-left: 0px;
  padding: 0px;
  margin-bottom: 10px;
}
